# Preprocesamiento de los datos de ovulación

In [4]:
import pandas as pd
import numpy as np

Cargamos los datos de ovulación

In [5]:
medNotes= pd.read_csv('../medData/medNotes.csv', header=0, sep=';')

In [6]:
print(medNotes.shape)
medNotes.head()

(4138, 10)

,row,prodId,givenCustomer,givenName,givenContact,givenComment,enterTimestamp,givenTimestamp,notes,Tu
0,256,04:EB:BD:DA:00:20:21:08,TempID,NaN,NaN,"36,2",2021-11-22 22:00:58,1637611247,NaN,NaN
1,512,04:93:88:97:00:27:55:0D,TempID,NaN,NaN,35.5,2021-11-29 17:09:51,1638198586,NaN,NaN
2,1024,04:D3:D1:8E:00:16:0A:0D,TempID,NaN,NaN,36.7,2021-12-18 18:37:06,1639845424,NaN,NaN
3,1,04:85:E4:ED:00:B5:5A:0F,TempID,NaN,NaN,Test,2021-09-15 15:05:07,1631706717,NaN,NaN
4,257,04:79:6A:9F:00:C4:1F:07,TempID,NaN,NaN,"36,7",2021-11-22 22:01:29,1637611281,NaN,NaN

In [7]:
medNotes.shape

(4138, 10)

In [8]:
# Definir los patrones de búsqueda
patrones_positivos = "ov|Ov|OV|test|Test|TEST|pos|Pos|POS"
patrones_negativos = "neg|Neg|NEG|ei ole|ei olnud|pole|ei tuvastanud|mitte ovulats|positiivset testi ei ole saanud"

# Aplicar el filtrado
filtro_positivo = medNotes.givenComment.str.contains(patrones_positivos, case=False, na=False)
filtro_exclusion = medNotes.givenComment.str.contains(patrones_negativos, case=False, na=False)
filtro_olvulacion = filtro_positivo & ~filtro_exclusion

medNotes.loc[filtro_olvulacion, "givenComment"].unique()

array(['Test', 'Test123', 'testime', 'Pos. OV test', 'Ovulatsioon',
       'Ovulatsiooni ', '17. tsüklipäeval ovulatsioonitest pos',
       '14. tsüklipäev ovulatsioonitest pos',
       'Positiivne rasedustest 21.05', 'Ovulatsioonipäev',
       '36.6, eile oli ovulatsioon',
       'Kõikuv kehatemperatuur seoses sellega, et koroona test oli positiivne. ',
       'Positiivne ovulatsiooni test ca 7 hommikul',
       'Tsükli 14s päev (ov test positiivne)', 'Peale enda tatoveerimist',
       'Ovulatsioon.', 'Ovulatsioon oli 20.04.2022',
       'Ovulatsioonitest pos', 'Tsükli 12.päev, pos ovulatsioon',
       'Ovulatsiooni test positiivne', 'Ovulatsiooni vereproovi andmine',
       'Ovulatsioon on', 'Positiivne ovulatsiooni test, 1 päev',
       'Ov test positiivne', 'Ov', 'Täna on ovulatsioon',
       'Ovulatsioonitest positiivne', 'Ovul', 'Ovulatsioon ',
       'Ovutatsioon',
       'Andur ei skänninud mitu päeva, proovisin äppi kustutada ja uuesti laadida, nüüd hakkas uuesti tööle',
       'Ovulatsiooni test positiivne ', 'Ovulatsiooni test pos',
       'Ovulatsioonitest positiivne, 35.6 C', 'Ovulutsioon',
       'Ovulatsioon tuvastatud', 'Positiivne OV test', 'Ov. Test pos.',
       'Ovulatsiooni algus', 'ovulatsioon', 'Ovulatsioon (13.06.22)',
       'Uriini test näitab positiivset ovulatsiooni', 'ovulatsioon ',
       'Naerunägu-ovulatsioon', 'Ovul.', 'Ovul.päev',
       'Ovulatsioonitest on positiivne', 'Ovulatsioon pos', 'Ovulation ',
       'OV test positiivne ', 'OV test pos', 'Vereproov', 'Positiivne',
       'Ovulatsioonitrst on positiivne',
       'Ovulatsiooni test POS, tsükli 14.päev', 'Testi tulemus poitiivne',
       '24.05 oli ovulatsioon', 'Pos ovulatsiooni tulemus'], dtype=object)

In [9]:
ovulNotes = medNotes.loc[filtro_olvulacion, ["givenTimestamp", "prodId"]] #Ya no incluimos givenComment porque todos se refieren a ovulación
ovulNotes

      givenTimestamp                   prodId
3         1631706717  04:85:E4:ED:00:B5:5A:0F
23        1631783866  04:0C:1C:9C:00:69:0E:05
44        1631787438  04:0C:1C:9C:00:69:0E:05
49        1638264042  04:DD:91:C0:00:F0:17:0B
101      -2006054656  04:4E:BD:7F:00:61:31:0F
...              ...                      ...
3904      1652517644  04:DD:0B:5A:00:51:44:07
3983      1654228249  04:B3:B5:8A:00:C2:45:07
4077      1653455491  04:0E:D8:5A:00:EF:1A:01
4111      1652871561  04:CD:02:43:00:D7:29:0E
4136      1655640210  04:CD:02:43:00:D7:29:0E

[139 rows x 2 columns]

In [20]:
print(ovulNotes.prodId.isnull().sum())
print(ovulNotes.givenTimestamp.isnull().sum())

3
0

In [21]:
ovulNotes = ovulNotes.dropna()
ovulNotes.shape

(136, 2)

In [22]:
ovulNotes["timestamp"] = ovulNotes["givenTimestamp"]
ovulNotes = ovulNotes.drop(columns=["givenTimestamp"])
ovulNotes

C:\Users\pablo\AppData\Local\Temp\ipykernel_17324\3852619612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovulNotes["timestamp"] = ovulNotes["givenTimestamp"]

                       prodId   timestamp
3     04:85:E4:ED:00:B5:5A:0F  1631706717
23    04:0C:1C:9C:00:69:0E:05  1631783866
44    04:0C:1C:9C:00:69:0E:05  1631787438
49    04:DD:91:C0:00:F0:17:0B  1638264042
101   04:4E:BD:7F:00:61:31:0F -2006054656
...                       ...         ...
3904  04:DD:0B:5A:00:51:44:07  1652517644
3983  04:B3:B5:8A:00:C2:45:07  1654228249
4077  04:0E:D8:5A:00:EF:1A:01  1653455491
4111  04:CD:02:43:00:D7:29:0E  1652871561
4136  04:CD:02:43:00:D7:29:0E  1655640210

[136 rows x 2 columns]

In [23]:
ovulNotes["timestamp"] = pd.to_datetime(ovulNotes["timestamp"], 1490195805, unit='s').dt.floor("D")
ovulNotes

                       prodId  timestamp
3     04:85:E4:ED:00:B5:5A:0F 2021-09-15
23    04:0C:1C:9C:00:69:0E:05 2021-09-16
44    04:0C:1C:9C:00:69:0E:05 2021-09-16
49    04:DD:91:C0:00:F0:17:0B 2021-11-30
101   04:4E:BD:7F:00:61:31:0F 1906-06-07
...                       ...        ...
3904  04:DD:0B:5A:00:51:44:07 2022-05-14
3983  04:B3:B5:8A:00:C2:45:07 2022-06-03
4077  04:0E:D8:5A:00:EF:1A:01 2022-05-25
4111  04:CD:02:43:00:D7:29:0E 2022-05-18
4136  04:CD:02:43:00:D7:29:0E 2022-06-19

[136 rows x 2 columns]

Eliminamos duplicados

In [24]:
# Crear una columna auxiliar con solo la fecha
ovulNotes['fecha'] = ovulNotes['timestamp'].dt.date

# Identificar los elementos repetidos (duplicados por prodId y fecha)
duplicados = ovulNotes[ovulNotes.duplicated(subset=['prodId', 'fecha'], keep=False)]

print("Ovulaciones duplicadas:")
print(duplicados)

Ovulaciones duplicadas:
                       prodId  timestamp       fecha
23    04:0C:1C:9C:00:69:0E:05 2021-09-16  2021-09-16
44    04:0C:1C:9C:00:69:0E:05 2021-09-16  2021-09-16
1489  04:71:B9:44:00:ED:09:09 2022-04-13  2022-04-13
1490  04:71:B9:44:00:ED:09:09 2022-04-13  2022-04-13
1574  04:D0:20:7C:00:44:11:04 2022-04-11  2022-04-11
1576  04:D0:20:7C:00:44:11:04 2022-04-11  2022-04-11
3008  04:60:70:9C:00:27:0B:05 2022-03-22  2022-03-22
3009  04:60:70:9C:00:27:0B:05 2022-03-22  2022-03-22
3694  04:7B:4F:B8:00:1F:49:04 2022-04-27  2022-04-27
3699  04:7B:4F:B8:00:1F:49:04 2022-04-27  2022-04-27
3792  04:80:66:6A:00:CD:07:09 2022-05-09  2022-05-09
3794  04:80:66:6A:00:CD:07:09 2022-05-09  2022-05-09

In [25]:
# Eliminar duplicados
ovulNotes = ovulNotes.drop_duplicates(subset=['prodId', 'fecha'], keep='first')

ovulNotes = ovulNotes.drop(columns=['fecha'])

print("Oculaciones sin duplicados:")
print(ovulNotes)

Oculaciones sin duplicados:
                       prodId  timestamp
3     04:85:E4:ED:00:B5:5A:0F 2021-09-15
23    04:0C:1C:9C:00:69:0E:05 2021-09-16
49    04:DD:91:C0:00:F0:17:0B 2021-11-30
101   04:4E:BD:7F:00:61:31:0F 1906-06-07
114   04:0C:1C:9C:00:69:0E:05 1906-06-07
...                       ...        ...
3904  04:DD:0B:5A:00:51:44:07 2022-05-14
3983  04:B3:B5:8A:00:C2:45:07 2022-06-03
4077  04:0E:D8:5A:00:EF:1A:01 2022-05-25
4111  04:CD:02:43:00:D7:29:0E 2022-05-18
4136  04:CD:02:43:00:D7:29:0E 2022-06-19

[130 rows x 2 columns]

In [33]:
ovulNotes.to_csv("../procData/ovulNotes.csv", sep=';', index=False)